@using AjourBT.Domain.Entities
@{
    Layout = null;
    string textBoxFromValue = ViewBag.FromValue.ToString("dd.MM.yyyy");
    string textBoxToValue = ViewBag.ToValue.ToString("dd.MM.yyyy");

    string search = @ViewBag.SearchString;
}

@using (Ajax.BeginForm("GetAbsenceData", "Absence", new AjaxOptions { UpdateTargetId = "absenceView", HttpMethod = "Post" }, new { id = "formAbsence" }))
{
   <table class="wtrContainer">
        <tr id="wtrInput">
            <td>@Html.Label("From")</td>
            <td>@Html.TextBox("fromDate",textBoxFromValue)</td>
            <td>@Html.Label("To")</td>
            <td>@Html.TextBox("toDate", textBoxToValue)</td>
           
        </tr>

        <tr id="wtrInput2">
            <td></td>
            <td><p id="errorFromAbs"></p></td>
            <td></td>
            <td><p id="errorToAbs"></p></td>
            
        </tr>
    </table>
        <div id="absenceSubmitBtn">
            <button id="absenceButton" type="button">Submit</button>
        </div>
    <div id="InputABM">
        <input id="absenceSearchInput" type="search" name="searchString" value="@search" placeholder="Search... " />
    </div>



}
<div id="absenceView">
  @*  Html.Action("GetAbsenceData", "Absence", new { searchString = ViewBag.SearchString })*@
</div>
 


@*@using (Html.BeginForm("ExportAbsenceToExcel", "Absence", new { textBoxFromValue = ViewBag.ToValue, textBoxToValue = ViewBag.ToValue, searchString = ViewBag.SearchString }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @*<input type="hidden" value="@textBoxFromValue" name="from">
        <input type="hidden" value="@textBoxToValue" name="to">
    //<input type="hidden" value="@ViewBag.SearchString" name="searchString">
    <input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="ExportToXls">
}
}*@

@using (Html.BeginForm("ExportAbsenceToExcel", "Absence", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    {
        <input type="hidden" id="fromData" name="from">
    <input type="hidden"  id="toData" name="to">
    <input type="hidden" id="absenceSearch" name="searchString">
        <input type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="ExportToXls">
    }
}


<script src="/Scripts/AjourBTScript/ABMDatesValidation.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fromDate').datepicker({
            firstDay: 1,
            dateFormat: "dd.mm.yy",
            showWeek: true,
            calculateWeek: myWeekCalc,
            showOn: 'button',
            buttonImage: '/Content/themes/base/images/calendar2.gif',
            buttonImageOnly: true
        
        });
       
    

        $('#toDate').datepicker({
            firstDay: 1,
            dateFormat: "dd.mm.yy",
            calculateWeek: myWeekCalc,
            showWeek: true,
            showOn: 'button',
            buttonImage: '/Content/themes/base/images/calendar2.gif',
            buttonImageOnly: true
        });

        $('#absenceButton').button();

        document.getElementById("fromData").value = $("#fromDate").datepicker({ dateFormat: 'dd.mm.yy' }).val();
        document.getElementById("toData").value = $("#toDate").datepicker({ dateFormat: 'dd.mm.yy' }).val();
        document.getElementById("absenceSearch").value = $("#absenceSearchInput").val();
       
     
      
    })

    $('#fromDate').on('change', function () {
        document.getElementById("fromData").value = $("#fromDate").datepicker({ dateFormat: 'dd.mm.yy' }).val();
    }
    );

    $('#toDate').on('change', function () {
        document.getElementById("toData").value = $("#toDate").datepicker({ dateFormat: 'dd.mm.yy' }).val();
    }
    );

    $('#absenceSearchInput').on('change', function () {
        document.getElementById("absenceSearch").value = $("#absenceSearchInput").val();
    }
    );
   
</script>

