@model IEnumerable<AjourBT.Models.EmployeeViewModel>

<script type="text/javascript">
    var oTable

    $(document).ready(function () {
        oTable = $('#employeeViewexample').DataTable({
           "sScrollY": (0.55 * $(window).height()),
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bDestroy": true,
            "aaSorting": [],
            "bPaginate": false,
            "bFilter": false,
            "bScrollCollapse": true,
            "aoColumns": [
                null,
                null,
                null,
                null,
                null,
                {"sType": "date"},
                null,
                { "sType": "date" },
                null,
                {"bSortable": false},
                //{ "sType": "date" }
            ]
        });
        setTimeout(function () {
            oTable.fnAdjustColumnSizing();
        }, 10);

        $("div.dataTables_scrollBody").scrollTop(window.scrollPosition);

    });

    $(function () {
        $("#CreateEmployee")
            .button();
    
    })

</script>


<div id="EmployeeData">
    <a class="buttonStyle" id="CreateEmployee" href="/Employee/Create/?selectedDepartment=@ViewBag.SelectedDepartment&searchString=@ViewBag.SearchString" data-date-format="@ViewBag.JSDatePattern"><span> Add Employee</span></a>
    <table class="employeeView" id="employeeViewexample">
        <colgroup>
            <col class="empCol01">
            <col class="empCol02">
            <col class="empCol03">
            <col class="empCol04">
            <col class="empCol05">
            <col class="empCol06">
            <col class="empCol07">
            <col class="empCol08">
            <col class="empCol09">
            <col class="empCol010">
        </colgroup>
        <thead>
            <tr>
                <th>
                    EID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Role
                </th>
                <th>
                    Dept
                </th>
                <th>
                    Position
                </th>
                <th>
                    Employeed
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Dates of birth
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Dismissed
                </th>
            </tr>
        </thead>

        <tbody id="PUEmployee">
            @foreach (var item in Model)
            {
                <tr class="zebra">
                    <td>
                        @Html.DisplayFor(modelItem => item.EID)
                    </td>

                    @if (item.IsManager == true)
                    {
                        <td>
                            <b> @Html.ActionLink(item.LastName.ToString() + " " + item.FirstName.ToString(), "Edit", new { id = item.EmployeeID, selectedDepartment = ViewBag.SelectedDepartment, searchString = ViewBag.SearchString }, new { @class = "empEditDialog", data_date_format = ViewBag.JSDatePattern })</b>
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(item.LastName.ToString() + " " + item.FirstName.ToString(), "Edit", new { id = item.EmployeeID, selectedDepartment = ViewBag.SelectedDepartment, searchString = ViewBag.SearchString }, new { @class = "empEditDialog", data_date_format = ViewBag.JSDatePattern })
                        </td>
                    }
                    <td>
                        @if (System.Web.Security.Membership.GetUser(item.EID) != null)
                        {
                            @String.Join(", ", System.Web.Security.Roles.GetRolesForUser(item.EID));
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEmployed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullNameUk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <i>@Html.DisplayFor(modelItem => item.DateDismissed)</i>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

